@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-shadow-none {
		text-shadow: none;
	}
	.grid-auto-rows-min {
		grid-auto-rows: min-content;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: border-box; /* 1 */
	border-width: 0; /* 2 */
	border-style: solid; /* 2 */
	border-color: theme("borderColor.DEFAULT", currentColor); /* 2 */
}

#__next {
	@apply grid grid-rows-layout h-full;
}

#index {
	background-image: url(/abstract_shape.svg);
	background-position: center;
}

.identity-button > button {
	@apply bg-credix-primary text-neutral-100 h-[50px] flex justify-center items-center;
}

.identity-button > button > svg {
	@apply relative top-[unset] left-[unset] !important;
}
.identity-button > button > span {
	@apply text-neutral-100 !important;
}

/* Antdesign overrides */
.ant-form-item-label > label {
	/* Unset label color so it displays the correct color when disabled */
	color: unset !important;
	/* Unset label font size so it displays the correct size that get set on the parent */
	font-size: unset !important;
}

.ant-input-wrapper.ant-input-group > .ant-input-group-addon {
	@apply bg-neutral-0 py-4 px-[14.5px] border-neutral-40 rounded border border-solid text-base font-normal !important;
}

.ant-input-wrapper.ant-input-group > .ant-input-group-addon:first-child {
	@apply rounded-r-none border-r-0 !important;
}

.ant-input-wrapper.ant-input-group > .ant-input-group-addon:last-child {
	@apply rounded-l-none border-l-0 !important;
}

.ant-input-wrapper.ant-input-group > .ant-input-affix-wrapper-lg {
	@apply h-full !important;
}

.ant-input-affix-wrapper {
	@apply border rounded rounded-l-none border-neutral-40 !important;
}
.ant-input-affix-wrapper.ant-input-affix-wrapper-lg .ant-input {
	@apply py-4 px-4 bg-inherit font-normal !important;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
	@apply border border-neutral-60 !important;
}

.ant-input-group-wrapper {
	@apply p-0 !important;
}

.anticon-close-circle {
	/* Don't show error icon in input fields with validation errors */
	display: none !important;
}

.ant-slider {
	@apply mt-0 ml-0 cursor-default !important;
}
.ant-slider-track {
	@apply bg-action-primary rounded-none !important;
}
.ant-slider-rail {
	@apply bg-neutral-90 rounded-none !important;
}
.ant-slider-handle {
	@apply bg-action-primary border-action-primary cursor-default !important;
}
.ant-slider-handle:focus {
	@apply shadow-none !important;
}

.ant-table-cell {
	@apply bg-neutral-0 font-bold text-base px-6 py-4 !important;
}

.ant-table-pagination {
	@apply gap-1 !important;
}

.ant-table-pagination > * {
	@apply w-[39px] h-8 border-none m-0 rounded-none !important;
}

.ant-pagination-item-active a,
.ant-pagination-item-active {
	@apply bg-neutral-100 text-credix-primary hover:text-credix-primary !important;
}

.ant-table-thead > tr > th {
	@apply border-b-0 bg-darker text-credix-primary !important;
}

.ant-table-thead
	> tr
	> th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
	@apply hidden !important;
}

.ant-table-tbody > tr > td {
	@apply border-b-0 !important;
}
.ant-table-tbody > tr > td {
	box-shadow: inset 0px -1px 0px #d8deda !important;
}

.table-hoverable tr {
	@apply cursor-pointer !important;
}

.table-hoverable tr:hover td {
	@apply bg-neutral-10 !important;
}

.ant-tabs-tab {
	@apply bg-neutral-0  py-6 w-44 justify-center font-bold text-base !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
	@apply text-neutral-80 text-shadow-none !important;
}

.ant-tabs-ink-bar {
	@apply h-[6px] bg-action-hover !important;
}

.ant-tabs-tab:hover,
.ant-tabs-tab-btn:hover,
.ant-tabs-tab-remove:hover,
.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
	@apply text-neutral-80 !important;
}

.ant-tabs-top > .ant-tabs-nav {
	@apply m-0 !important;
}

.ant-form-item-control-input-content .ant-input-affix-wrapper {
	@apply py-0 px-0 !important;
}

.ant-form-item-control-input-content .ant-input {
	@apply px-4 py-3 font-medium text-base placeholder-neutral-100/70 !important;
}

.ant-form-item-control-input-content .ant-input-suffix {
	@apply ml-0 !important;
}

.ant-spin-dot-item {
	@apply bg-neutral-80 !important;
}

.ant-message {
	@apply h-full top-0 grid place-items-center bg-neutral-80/50 !important;
}

.ant-message-notice {
	@apply flex justify-center font-mono !important;
}

.ant-message-notice-content {
	@apply px-7 py-5 shadow-none font-bold text-base border-[0.1px] rounded border-solid border-neutral-60 bg-credix-primary !important;
}

.ant-message-custom-content {
	@apply flex items-center space-x-3 !important;
}

.anticon {
	@apply text-current !important;
}

.ant-input-group-addon {
	@apply bg-neutral-0 !important;
}

.ant-input-affix-wrapper {
	@apply h-14 border border-neutral-40 !important;
}

.ant-select-selector {
	@apply h-14 flex items-center border border-neutral-40 rounded-[1px] !important;
}

.ant-form-item-has-error .ant-select:not(.ant-select-disabled):hover .ant-select-selector,
.ant-form-item-has-error .ant-select .ant-select-selector {
	@apply border border-error shadow-none z-10 !important;
}

.ant-form-item-has-error
	.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
	.ant-select-selector {
	@apply ring-1 ring-error border border-error shadow-none z-10 !important;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
	.ant-select-selector {
	@apply ring-1 ring-neutral-60 border border-neutral-60 shadow-none z-10 !important;
}

.ant-select-selection-placeholder {
	@apply font-medium text-base !important;
}

.ant-select-item-option-content {
	@apply font-medium text-base font-mono text-darker !important;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
	@apply border-neutral-60  !important;
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
	@apply ring-1 ring-neutral-60 border-neutral-60 shadow-none z-10 !important;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
	@apply border-r !important;
}
.ant-input-affix-wrapper:hover {
	@apply border-r border-neutral-60 !important;
}

.ant-select-selector {
	@apply pr-8 !important;
}

.ant-form-item:not(.interest-select) .ant-select-selector {
	@apply h-[50px] !important;
}

.ant-select-arrow {
	@apply w-max h-max -mt-3 right-4 z-10 !important;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
	@apply pl-4 pr-10 !important;
}

.ant-select-selection-item {
	@apply pr-4 text-base !important;
}

.ant-input-group.ant-input-group-compact {
	@apply flex !important;
}

.deal-repay-input .ant-input {
	@apply text-2xl font-bold !important;
}

.label-hidden > .ant-form-item-label {
	@apply invisible !important;
}

.ant-form-item-label:has(".label-hidden") {
	@apply invisible !important;
}

.ant-radio-group.ant-radio-group-solid {
	@apply flex gap-5 !important;
}

.ant-radio-button-wrapper {
	@apply text-base font-medium capitalize text-neutral-100 grid place-content-center w-20 h-11 border border-neutral-60 hover:text-neutral-100 focus:ring-neutral-100 focus:border-neutral-100 !important;
}

.ant-radio-button-wrapper:not(:first-child)::before {
	@apply fixed !important;
}

.ant-radio-button-wrapper-checked {
	@apply bg-neutral-60 text-neutral-0 hover:text-neutral-0 !important;
}

.ant-radio-button-wrapper:focus-within {
	@apply shadow-none !important;
}

.ant-form-item-has-feedback.ant-form-item-has-error .ant-radio-button-wrapper {
	@apply border border-error !important;
}

.ant-checkbox-wrapper {
	@apply flex items-center !important;
}

.ant-checkbox-checked::after,
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
	@apply rounded-[1px]  border-neutral-10 !important;
}

.ant-checkbox-inner {
	@apply rounded-[1px]  border-neutral-60 w-6 h-6 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
	@apply bg-neutral-10 border-neutral-10 !important;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
	@apply border-darker !important;
}

.ant-checkbox + span {
	@apply mt-1 pl-4 !important;
}

.ant-checkbox-inner::after {
	@apply left-[23.5%] w-[10px] h-[14px] !important;
}

.ant-steps-navigation.ant-steps-vertical > .ant-steps-item.ant-steps-item-active::before {
	@apply bottom-0 top-[unset] !important;
}

.ant-steps-item-container {
	@apply w-full flex items-center !important;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon .ant-steps-icon {
	@apply text-neutral-80 !important;
}

.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
	@apply text-neutral-35 text-opacity-50 font-medium !important;
}

.ant-steps-navigation .ant-steps-item::after {
	@apply hidden !important;
}

.ant-steps-navigation .ant-steps-item-container .ant-steps-item-content {
	@apply w-full flex !important;
}

.ant-steps-navigation.ant-steps-horizontal
	> .ant-steps-item
	> .ant-steps-item-container
	> .ant-steps-item-tail {
	@apply hidden !important;
}

.ant-steps-item-icon {
	@apply hidden !important;
}

.ant-steps-navigation .ant-steps-item-container {
	@apply ml-0 pb-4 !important;
}

.ant-steps-navigation {
	@apply gap-6 !important;
}

.ant-steps-item-active .ant-steps-item-title {
	@apply text-base font-bold !important;
}
.ant-steps-navigation .ant-steps-item::before {
	@apply h-2 left-0 w-full !important;
}

.ant-steps-navigation .ant-steps-item-wait.ant-steps-item::before {
	@apply bg-neutral-30 bg-opacity-25 !important;
}

.ant-steps-navigation .ant-steps-item-active.ant-steps-item::before {
	@apply bg-neutral-80 !important;
}

.ant-steps-navigation .ant-steps-item-finish.ant-steps-item::before {
	@apply bg-action-primary !important;
}

.ant-radio {
	@apply top-[unset] !important;
}

.ant-radio-group {
	@apply w-full !important;
}

.ant-radio-wrapper {
	@apply items-center w-1/2 !important;
}

.ant-radio:hover .ant-radio-inner,
.ant-radio:hover {
	@apply border-action-primary !important;
}

.ant-radio-checked .ant-radio-inner {
	@apply border-action-primary bg-action-primary !important;
}

.ant-radio-input {
	@apply w-6 h-6 !important;
}

.ant-radio-input:focus + .ant-radio-inner {
	@apply shadow-none !important;
}

.ant-radio-inner {
	@apply w-6 h-6 bg-transparent border-neutral-60 !important;
}

.ant-radio-inner::after {
	@apply top-[0.45rem] left-[0.45rem] w-6 h-6 bg-white !important;
}

.ant-steps-navigation.ant-steps-vertical > .ant-steps-item.ant-steps-item-active::before {
	@apply bottom-0 top-[unset] !important;
}

.ant-steps-item-container {
	@apply w-full flex items-center !important;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon .ant-steps-icon {
	@apply text-neutral-80 !important;
}

.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
	@apply text-neutral-35 text-opacity-50 font-medium !important;
}

.ant-steps-navigation .ant-steps-item::after {
	@apply hidden !important;
}

.ant-steps-navigation .ant-steps-item-container .ant-steps-item-content {
	@apply w-full flex !important;
}

.ant-steps-navigation.ant-steps-horizontal
	> .ant-steps-item
	> .ant-steps-item-container
	> .ant-steps-item-tail {
	@apply hidden !important;
}

.ant-steps-item-icon {
	@apply hidden !important;
}

.ant-steps-navigation .ant-steps-item-container {
	@apply ml-0 pb-4 !important;
}

.ant-steps-navigation {
	@apply gap-6 !important;
}

.ant-steps-item-active .ant-steps-item-title {
	@apply text-base font-bold !important;
}
.ant-steps-navigation .ant-steps-item::before {
	@apply h-2 left-0 w-full !important;
}

.ant-steps-navigation .ant-steps-item-wait.ant-steps-item::before {
	@apply bg-neutral-30 bg-opacity-25 !important;
}

.ant-steps-navigation .ant-steps-item-active.ant-steps-item::before {
	@apply bg-neutral-80 !important;
}

.ant-steps-navigation .ant-steps-item-finish.ant-steps-item::before {
	@apply bg-action-primary !important;
}

.ant-radio {
	@apply top-[unset] !important;
}

.ant-radio-group {
	@apply w-full !important;
}

.ant-radio-wrapper {
	@apply items-center w-1/2 !important;
}

.ant-radio:hover .ant-radio-inner,
.ant-radio:hover {
	@apply border-action-primary !important;
}

.ant-radio-checked .ant-radio-inner {
	@apply border-action-primary bg-action-primary !important;
}

.ant-radio-input {
	@apply w-6 h-6 !important;
}

.ant-radio-input:focus + .ant-radio-inner {
	@apply shadow-none !important;
}

.ant-radio-inner {
	@apply w-6 h-6 bg-transparent border-neutral-60 !important;
}

.ant-radio-inner::after {
	@apply top-[0.45rem] left-[0.45rem] w-6 h-6 bg-white !important;
}
