@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-shadow-none {
		text-shadow: none;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
	box-sizing: border-box;
}

/* Antdesign overrides */
.ant-form-item-label > label {
	/* Unset label color so it displays the correct color when disabled */
	color: unset !important;
	/* Unset label font size so it displays the correct size that get set on the parent */
	font-size: unset !important;
}

.ant-input-wrapper.ant-input-group > .ant-input-group-addon {
	@apply bg-neutral-0 py-4 px-[14.5px] border-neutral-40 rounded border-[0.5px] border-solid text-base font-normal !important;
}

.ant-input-wrapper.ant-input-group > .ant-input-group-addon:first-child {
	@apply rounded-r-none border-r-0 !important;
}

.ant-input-wrapper.ant-input-group > .ant-input-group-addon:last-child {
	@apply rounded-l-none border-l-0 !important;
}

.ant-input-affix-wrapper.ant-input-affix-wrapper-lg {
	@apply border-[0.5px] py-4 px-[14.5px] rounded rounded-l-none border-neutral-40 !important;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
	@apply border-r-[0.5px] !important;
}

.ant-input-affix-wrapper-focused {
	@apply shadow-none ring-1 ring-neutral-40 border-neutral-40 !important;
}

.ant-input-group-wrapper {
	@apply p-0 !important;
}

.anticon-close-circle {
	/* Don't show error icon in input fields with validation errors */
	display: none !important;
}

.ant-slider {
	@apply mt-0 ml-0 cursor-default !important;
}
.ant-slider-track {
	@apply bg-action-primary rounded-none !important;
}
.ant-slider-rail {
	@apply bg-neutral-90 rounded-none !important;
}
.ant-slider-handle {
	@apply bg-action-primary border-action-primary cursor-default !important;
}
.ant-slider-handle:focus {
	@apply shadow-none !important;
}
