@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-shadow-none {
		text-shadow: none;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
	box-sizing: border-box;
}

/* Antdesign overrides */
.ant-btn,
.ant-btn:active,
.ant-btn:focus,
.ant-btn:hover {
	/* Disable the default antd button background so it doesn't interfere with Tailwind css bg-* classes. */
	background: none !important;
}

.ant-form-item-label > label {
	/* Unset label color so it displays the correct color when disabled */
	color: unset !important;
}

.anticon-close-circle {
	/* Don't show error icon in input fields with validation errors */
	display: none !important;
}

.ant-slider {
	@apply mt-0 ml-0 cursor-default !important;
}
.ant-slider-track {
	@apply bg-action-primary rounded-none !important;
}
.ant-slider-rail {
	@apply bg-neutral-90 rounded-none !important;
}
.ant-slider-handle {
	@apply bg-action-primary border-action-primary cursor-default !important;
}
.ant-slider-handle:focus {
	@apply shadow-none !important;
}
